body {
    background-color: dimgray;
}
#background{
    /*Phone like resolution*/
    height: 800px;
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    background-color: white; /*FOR TESTING*/

    /*Rounded Border*/
    border-radius: 20px;
    border: 2px solid black;
    
}