body {
    background-color: dimgray;
    text-decoration: none;
    font-size: x-large;
    color: #525E75;
}

a {
    text-decoration: none;
    font-size: x-large;
    color: #525E75;
}

#background{
    /*Phone like resolution*/
    height: 800px;
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    background-color: #F1DDBF;

    /*Rounded Border*/
    border-radius: 30px;
    border: 4px solid black;

    /*Font*/
    font-family: Roboto;
    
}

/*-------------Segurança----------------*/
#TrancarCasa{
    list-style-type: none;
    padding-inline-start: 15px;
    margin-top: 10px;
}

#TrancarHead{
    margin-bottom: 10px;
}

#TrancarTodas{
    margin-left: 20px;
}
/*---------------------------------------*/

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bolder;
}