body {
    background-color: dimgray;
}
#background{
    /*Phone like resolution*/
    height: 800px;
    width: 450px;
    margin: 0 auto;
    padding: 5px;
    background-color: white; /*FOR TESTING*/

    /*Rounded Border*/
    border-radius: 20px;
    border: 2px solid black;

    /*Font*/
    font-family: Roboto;
    
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Bold.ttf");
    font-weight: bolder;
}