/*-------------Segurança----------------*/
#TrancarCasa{
    list-style-type: none;
    padding-inline-start: 15px;
    margin-top: 10px;
}

#TrancarHead{
    margin-bottom: 10px;
}

#TrancarTodas{
    margin-left: 20px;
}

#securityCam{
    border: 2px solid #525E75;
    border-radius: 15px;
    padding: 2px 8px;
    padding-top: 25px;
    padding-bottom: px;
    position: relative;
    top: 30px;
    right: -280px;
}
/*---------------------------------------*/